*{
	background-color:#808080;
  color:white;
}

#title{
  
	text-align: center;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#img-div{
    background: black;
    padding: 10px;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-caption{
	background:black;
  color:#E0FFFF;
	text-align: center;
	font: Arial, sans-serif;
}

#tribute-info{
	text-align:center;
  font: 15px;
  margin:1.6em;
}

#footer{
	text-align: center;
  color:#504d4d;
}